
<div class="row">
  <% if @list.kind_of?(Array) %>
  <h2>Definer Word List</h2>
    <% @list.each do |each| %>
      <a href="/word/<%= each.id %>"> <p><%= each.name %></a></p>
    <% end %>
  <% else %>
  <div class="row">
    <br>
    <a href="/"><< Return to Word List</a>
  </div>
    <h2><%= @list.name %></h2>
    <ul>
      <li>Definitions:<ul>
        <% @list.definitions.each do |i| %>
          <li><%= i %></li>
        <% end %>
      </ul></li>
    </ul>
  <% end %>
</div>

<% if @list.kind_of?(Array) %>
  <div class="row">
    <form action="/" method="post">
      <div class="form-group">
        <input type="text" name="name" placeholder="Add New Word">
      </div>
      <div class="form-group">
        <input type="text" name="definition" placeholder="Definition">
      </div>
      <button type="submit" name="button">Add Word to List</button>
    </form>
  </div>
<% else %>
<div class="row">
  <form action="/word/<%= @list.id %>" method="post">
    <div class="form-group">
      <input type="text" name="definition" placeholder="Add Definition">
    </div>
    <button type="submit" name="button">Add Definition to Word</button>
  </form>
<% end %>
